<form action="/mtgsets/<%= @mtgset.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for="set_name">Set Name:</label>
  <input type="text" id="set_name" name="mtgset[set_name]" value="<%= @mtgset.set_name %>">

  <label for="collection_number">Collection Number:</label>
  <input type="number" id="collection_number" name="mtgset[collection_number]" value="<%= @mtgset.collection_number %>">

  <label for="current_set">Current Set:</label>
  <input type="checkbox" id="current_set" name="mtgset[current_set]" <%= @mtgset.current_set ? 'checked' : '' %>>

  <input type="submit" value="Update Set">
</form>