<a href="/mtgsets">Set Index</a>
<a href="/cards">Cards Index</a>
<a href="/mtgsets/new">Add Set</a>
<h1>Magic the Gathering Sets</h1>
<% @mtgsets.each do |set| %>
<p><%= set.set_name %></p>

<% end %>